crawl
<%= form_tag articles_news_title_path, method: 'post' do %>
  <%= text_field_tag :query %>
  <%= submit_tag 'submit' %>
<% end %>
<br>

총기사수<%= @articles.count %><br>
해커포함한기사수<%= @hacker_sum.count %><br>
해커포함한기사수_by_category<%= @hacker_sum_by_category.count %><br>
지니어스포함한기사수_by_category<%= @genius_sum_by_category.count %><br>

<hr>
search
<%= form_tag articles_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<br>

<% @articles.each do |a| %>
  <%= a.title %>|<%= a.category %><br>
<% end %>
